/* src/App.css */
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  text-align: center;
  padding: 1rem;
}

.App-main {
  flex-grow: 1; /* Permite que el contenido principal ocupe el espacio restante */
  padding: 1rem;
}

/* Media Queries para App.css */
@media (min-width: 768px) {
  .App-main {
    padding: 2rem;
  }
}

@media (min-width: 1024px) {
  .App-main {
    max-width: 1200px;
    margin: 0 auto; /* Centra el contenedor en pantallas grandes */
    padding: 3rem;
  }
}